---
parent: /includes/layout.html
build: false
---
<section class='mini-portfolio' id='mini-nav'>
    <div class='row'>
        {% for item of page.local %}
        {% if item.config.image %}<div class='col-12 col-md-4 mb-4 mb-lg-0'><img src='{% route item.config.image %}' class='img-fluid' /></div>{% end %}
        <div class='col-12 col-md-6'>
            <h3>{{ item.config.title }}</h3>
            <span class='montserrat font-s red'>{{ item.config.subtitle }}</span>
            <p class='mt-2'>{{ item.config.summary }}</p>
            {% if item.config.link %}<p class='text-right'><a href='{% item.config.link %}'><button>Visit Site</button></a></p>{% end %}
        </div>
        {% end %}
    </div>
</section>